PG_HOST=localhost
PG_CONTAINER=postgres_container
PG_USER=itinary
PG_PASSWORD=itinary_datascientest
PG_DB=idf-itinary
PG_PORT=5432

PGADMIN_CONTAINER=pgadmin_container
PGADMIN_DEFAULT_EMAIL=pgadmin4@pgadmin.org
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=5050

DT_API_URL=https://diffuseur.datatourisme.fr/webservice/...
DT_API_KEY=

NEO4J_CONTAINER=neo4j_container
NEO4J_HOST=localhost
NEO4J_USER=neo4j
NEO4J_PASSWORD=neo4j
NEO4J_PORT=7474
NEO4J_BOLT_PORT=7687

API_CONTAINER=api_container
API_PORT=8000
